@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.fundo {
     position: relative;
     width: 50%;
     height: 30vw;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
     background-image: url(./imagens/background.gif);
     background-size: 100% 100%;
     text-align: center;
     border: solid 5px;
     border-radius: 5px;
    
     
	}

    .dica{
        position: relative;
        top: 5vw;
        left: 10vw;
        width: 30vw;
        height: 20vw;
        background-image: url(./imagens/dicas.png);
        background-size: 100% 100%;
        opacity: 0.9;
        font-family: 'Henny Penny', cursive;
        font-size: 1vw;
        
    }
    .dica2{
        position: relative;
        top: 5vw;
        left: 10vw;
        width: 30vw;
        height: 22vw;
        background-image: url(./imagens/dicas.png);
        background-size: 100% 100%;
        opacity: 0.9;
        font-family: 'Henny Penny', cursive;
        font-size: 1vw;
        display: none;
        
    }
    .telamorte{
        height: 5vw;
        width: 5vw;
        border-radius: 3vw;
        margin-left: 10vw;
        
    }



    @media (max-width : 800px){
        .fundo{
            width: 80%;
        }  
    
     }

/*
.painel {
    position: relative;
    top: 1vw;
     height: 10vw;
     width: 25vw;
     margin-left: auto;
     margin-right:auto;
     border-radius: 10px;
     border: 1px solid black;
     text-align: center;
     background-color: black;

}  
*/

body{
    background-image: url(./imagens/background2.gif);
    background-size: 100% 100%;
}
#start{
    background-image: url(./imagens/start.png);
    background-size: 100% 100%;
    background-color: rgb(10, 112, 163);
    opacity: 0.5;
    position: absolute;
    top: 17vw;
    left: 92vw;
    
}
#reset{
    background-image: url(./imagens/reset.png);
    background-size: 110% 100%;
    background-color: rgb(163, 20, 10);
    opacity: 0.6;
    position: absolute;
    top: 3vw;
    left: 92vw;
    display: none;

}
#esquerda{
background-image: url(./imagens/seta.png);
background-size: 100% 100%;
background-color: greenyellow;
opacity: 0.5;
position: absolute;
top: 10vw;
}

#direita{
background-image: url(./imagens/seta2.png);
background-size: 100% 100%;
background-color: rgb(0, 115, 255);
opacity: 0.5;
position: absolute;
top: 10vw;
left: 92vw;

}
#atirar{
    background-image: url(./imagens/botaotiro.png);
    background-size: 100% 100%;
    background-color: red;
    opacity: 0.5;
    position: absolute;
    top: 17vw;

}

button{
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 20vw;
}


.bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 4vw;
    height: 2vw;
    background: url("./imagens/bmo.gif");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .rocks {
    position: absolute;
    top: 0px;
    width: 6vw;
    height: 4vw;
    background: url("./imagens/sword.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

   #div1 {
    position: absolute;
    top: 25vw;
    left: 15vw; 
    width: 4vw; 
    height: 4vw; 
    background: url(./imagens/jake2.gif);
    background-size: 100% 100%;
    text-align: center;
}

/*.nuvens{
    position: absolute;
    top: 0;
    width: 25vw;
    height: 15vw;
    animation: nuvem 4s infinite linear;
}

@keyframes nuvem{

from {
    right: -20vw;
}

to{
    right: 70vw;
}
}
*/
.marc{
    position: absolute;
    top: 0;
    width: 7vw;
    height: 3vw;
    animation:vampiro 10s ;
}
@keyframes vampiro{
    from{
        right: 70vw;
    }
    to{
        right: -20vw;
    }
}

#points{
    position: absolute;
    top: 1.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    color: rgb(146, 29, 205);
    background-color: black;
}
